@use "@/styles/components/global.scss" as *;

.assets-gallery-lobby-page {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    .background-wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
            filter: blur(3px);
            transform: scale(1.2);
        }
    }

    .ad-wrap {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);

        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}
