@use "@/styles/components/global.scss" as *;

[data-bs-theme="dark"] {
    .assets-gallery-lobby-page {
        .background-wrap {
            img {
                filter: blur(3px) brightness(0.5);
                transform: scale(1.2);
            }
        }
    }
}

.assets-gallery-lobby-page {
    min-height: calc(100vh - 0px);
    display: flex;
    justify-content: center;
    align-items: center;

    .background-wrap {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        img {
            filter: blur(3px);
            transform: scale(1.2);
        }
    }

    .ad-wrap {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);

        display: none;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .ScenePicker {
        // background-color: aquamarine;
        // padding: 0.25rem;

        @include media-breakpoint-up(lg) {
            position: absolute;
            left: calc(-220px - 1rem);
            width: 220px;
            // background-color: aquamarine;
            // background-color: red;
            top: 50%;
            transform: translateY(-50%);
            
            .ratio {
                border-radius: 5px;
            }
        }
    }
}
